{% extends "base.njk" %}
<!-- Overide the pageHeader block base.njk -->
{% block pageHeader %}{% endblock pageHeader %}

{% block content %}
<!-- Slide Banner -->
<div class="hero-slider">
    {% for banner in banners %}
    <div class="single-slide" style="background-image: url({{banner.background}})">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="slide-content">
                            <h2>{{banner.headline}}</h2>
                            <p>{{banner.blurb}}</p>
                            <div class="slide-btn">
                                <a href="{{banner.data.link.url}}" class="button">{{banner.link.text}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- About Section -->
<div class="about-area sp">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-content">
                    <h3>{{about.title}}</h3>
                    <p>{{about.description}}</p>
                    <a href="{{ about.link.url }}" class="button">{{ about.link.text }}</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-img">
                    <img src="{{ about.image }}" alt="about-img">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Section -->
<div class="service-area spt">
    <div class="container">
        <div class="section-title" data-margin="0 0 40px">
            <h2>{{services.title}}</h2>
            <p>{{services.description}}</p>
        </div>
        <div class="row">
            {% for service in collections.services %}
            <div class="col-lg-4 col-md-6 single-service-2">
                <div class="inner">
                    <div class="title">
                        <div class="icon">
                            <i class="fa fa-{{service.data.faIcon}}"></i>
                        </div>
                        <h4>{{service.data.title}}</h4>
                    </div>
                    <div class="content">
                        <p>{{service.data.description}}</p>
                        <a href="{{ service.url }}" class="btn btn-sm btn-outline-dark">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Projects/Work Section -->
<div class="portfolio-area sp">
    <div class="container">
        <div class="section-title">
            <h2>{{projects.title}}</h2>
            <p>{{projects.description}}</p>
        </div>
        <div class="row">
            {% for work in collections.projects %}
            <div class="single-portfolio col-md-4">
                <div class="inner">
                    <div class="portfolio-img">
                        <img src="{{work.data.image}}" alt="portfolio-image">
                        <div class="hover-content">
                            <div>
                                <a href="{{work.data.url}}" class="button">{{work.data.btnTitle}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                        <a href="{{work.data.url}}">
                            <h3>{{work.data.title}}</h3>
                        </a>
                        <span>{{work.data.description}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 text-center" data-margin="40px 0 0">
                <a href="#" class="button">More Works</a>
            </div>
        </div>
    </div>
</div>

<!-- Brand Images -->
<div class="spb">
    <div class="brand-area">
        <div class="container">
            <div class="row">
                {% for brand in collections.brands %}
                <div class="col-md-3 col-6 single-brand">
                    <div class="inner">
                        <a href="{{brand.data.url}}">
                            <img src="{{brand.data.image}}" alt="">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Visionary Section -->
<div class="tabs-area spb">
    <div class="container">
        <ul class="nav tabs-nav" id="pills-tab" role="tablist">
            {% for visionary in collections.visionaries %}
            <li class="nav-item">
                <a class="nav-link {% if visionary.data.id == 
                    " mission" %} active {% endif %}" id="pills-home-tab" data-toggle="pill"
                    href="{{visionary.data.url}}">
                    <i class="fa fa-{{visionary.data.icon}}"></i>
                    <span>{{visionary.data.title}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="pills-tabContent">
            {% for visionary in collections.visionaries %}
            <div class="tab-pane fade {% if visionary.data.id == 
                " mission" %} show active {% endif %}" id={{visionary.data.id}} role="tabpanel">
                <div class="row">
                    <div class="col-md-6">
                        {% if visionary.data.image != null %}
                        <img src="{{visionary.data.image}}" alt="mission-img">
                        {% endif %}
                        {% if visionary.data.paragraph1 != null %}
                        <p>{{visionary.data.paragraph1}}</p>
                        {% endif %}
                        {% if visionary.data.paragraph2 != null %}
                        <p>{{visionary.data.paragraph2}}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {% if visionary.data.paragraph3 != null %}
                        <p>{{visionary.data.paragraph3}}</p>
                        {% endif %}
                        {% if visionary.data.paragraph4 != null %}
                        <p>{{visionary.data.paragraph4}}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}